# Ignore Python bytecode files and directories
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore Django secret key and settings (if stored in a separate file)
*.env
*.env.*

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

#Ignore get-pip.py
get-pip.py

# Ignore Python embedded directory
python-embedded/

# sqlite
db.sqlite3

#mbtile
myapp/static/maps/*.mbtiles