body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background for the body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: row; /* Keeps the brand-container and form-container side by side */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    /* margin: 0; Removes default margins */
    background-color: #f4f4f9; /* Optional: background color for the form wrapper */
}


.form-container {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Aligns items vertically */
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
    background-color: #EDFAFF; /* Form container background color */
    padding: 30px;
    width: 40%; /* Set the width to 40% of the available space */
    margin: 0 auto; /* Centers the form-container horizontally */
}

.form-container h2 {
    font-family: 'Roboto', sans-serif; /* Montserrat font style */
    font-size: 22px; /* Font size of 20px */
    font-weight: bold; /* Bold font weight */
    line-height: normal; /* Line height set to auto */
    letter-spacing: 0.05em; /* 10% letter spacing */
    text-transform: uppercase; /* Makes text all uppercase */
    color: #333; /* Optional: Ensures good contrast for readability */
    text-align: center; /* Centers the text */
    margin-bottom: 25px; /* Adds spacing below the heading */
}

.user-info-text{
    /* width: 65%; */
    margin-bottom: 40px; /* Adds spacing below the heading */
}

.register-form {
    width: 60%;
}


.form-container label {
    font-family: 'Roboto', sans-serif; /* Montserrat font style */
    font-size: 14px; /* Font size of 14px */
    font-weight: 600; /* Medium weight */
    line-height: 22px; /* Line height of 22px */
    color: #333; /* Optional: Ensures good contrast for readability */
    margin-bottom: 8px; /* Keeps some spacing below the label */
    display: block; /* Ensures proper layout for the label */
}

.required {
    color: red; /* Makes the asterisk red */
    margin-left: 4px; /* Adds space between the label text and the asterisk */
    font-weight: bold; /* Optional: makes the asterisk bold */
}

.full-name-input-group input:focus, 
.birthdate-input-group input:focus, 
.email-input-group input:focus, 
.profession-select:focus,
.otherProfession input:focus, 
.affiliation-input-group input:focus {
    border: 2px solid #2874F4; /* Thinner border on focus with a slightly different color */
    outline: none; /* Optional: Removes the default focus outline */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* subtle shadow effect */
}

/* Set the width of the calendar container */
.flatpickr-calendar {
    width: 100% !important; /* Set to auto-adjust based on parent */
    max-width: 425px !important; /* Optional: max width for control */
}

/* Ensure proper layout for the days container */
.flatpickr-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Ensure 7 columns for days */
    width: 100%; /* Stretch to full width */
    box-sizing: border-box; /* Include padding/border in width */
}

.dayContainer {
    width: 425px;
    max-width: 425px;
    column-gap: 17px; /* Adjust horizontal gap between days */
    row-gap: 5px; /* Ensure no vertical gap (or adjust as needed) */
}

/* Customize selected day styles */
.flatpickr-day.selected {
    background-color: #2874F4; /* Highlight selected day */
    color: white; /* Make text readable */
    border-radius: 50%; /* Circle effect */
}

/* Add hover effect for better UX */
.flatpickr-day:hover {
    background-color: #e3f8ff;
    border-radius: 50%; /* Circle effect on hover */
}

.flatpickr-current-month input.cur-year {
    padding: 0 0 0 1ch;
}


/* Style for the input field */
input[type="text"] {
    width: 425px; /* Fixed width to test */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.birthdate-input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.birthdate-select {
    position: relative;
    width: 100%; /* Ensure container fits parent width */
}

.birthdate-select input {
    width: 100%; /* Full width for input */
    padding: 10px 40px 10px 10px; /* Add padding for the icon on the right */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.birthdate-select .calendar {
    position: absolute;
    top: 35%;
    right: 10px; /* Position the icon inside the input field */
    transform: translateY(-50%);
    width: 20px; /* Adjust icon size */
    height: 20px;
    pointer-events: none; /* Prevent interaction with the icon */
}
   
.select {
    margin-bottom: 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.arrow-down,
.calendar {
    color: rgba(0, 0, 0, 0.7); /* Separator color with 70% opacity */
    width: 20px;
    height: 20px;
    float: right;
}

.profession-select {
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    background-color: #ffffff !important;
}

.profession-option-list {
    width: 425px; /* Fixed width to test */
    background-color: white;
    border-radius: 4px;
    margin-top: 8px;
    visibility: hidden;
    position: absolute;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    border: 1px solid #ccc; /* Border for the options */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    z-index: 1000; /* Ensure the options are above other content */

    /* Scrollable functionality */
    max-height: 300px; /* Limit the height to make it scrollable */
    overflow-y: auto; /* Add vertical scrolling */
    padding: 5px; /* Add some inner spacing for better readability */
    scrollbar-color: #ccc transparent; /* For Firefox: customize scrollbar colors */
}

.profession-option-list.active{
    visibility: visible;
}

.option {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.option:hover {
    /* background-color: rgba(0, 82, 212, .85); Tang Blue with 85% opacity; */
    background-color: #e3f8ff;
    transition: background-color 0.3s;
}

.form-container button {
    width: 100%;
    padding: 5px 16px;
    background-color: #4364F7;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.form-container button:hover {
    background-color: #003d99;
}

.form-container input,
.form-container select {
    width: 100%; /* Fills the available width */
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    padding: 8px; /* Adds some padding inside the fields */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Smooth corners */
    font-family: 'Montserrat', sans-serif; /* Matches font with the rest of the form */
    font-size: 14px; /* Ensures consistent font size */
}

.form-container button {
    width: 100%; /* Fills the available width */
    box-sizing: border-box; /* Ensures padding is included in the width */
    padding: 10px; /* Adds some padding inside the fields */
    margin-top: 10px; /* Adds space between fields */
    border-radius: 4px; /* Smooth corners */
    font-family: 'Montserrat', sans-serif; /* Matches font with the rest of the form */
    font-size: 16px; /* Ensures consistent font size */
}

.form-container button:hover {
    background-color: #0056b3;
}

.brand-container {
    flex: 1;
    background: linear-gradient(135deg, #2874F4 0%, #4364F7 50%, #312FB1 100%); /* Gradient background */
    color: white;
    text-align: center;
    padding: 40px;
    width: 60%;
    flex-grow: 1; /* Makes the brand-container fill the available height */
    display: flex; /* Enable flexbox on brand-container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Ensure content is arranged in column layout */
}

.brand-container img {
    width: 60%;
    /* margin-bottom: 20px; */
}

.brand-container h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.Disclaimer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2f2f2f;
    text-align: center;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    flex-wrap: wrap;
}

.Disclaimer-text {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 80%; 
    color: white; 
}

.Disclaimer-Button {
    margin: 2px 0px 2px 0px;
    background-color: #0052D4; 
    color: white; 
    border: none; 
    padding: 8px 12px 8px; 
    border-radius: 4px; 
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .form-container {
        width: 50%;
    }

    .user-info-text {
        width: 65% !important;
        margin-bottom: 40px;
    }

    .profession-option-list {
        width: 272px;
    }

    .brand-container img {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .form-container {
        width: 50%;
    }

    .user-info-text {
        width: 80% !important;
        margin-bottom: 40px;
    }

    .register-form {
        width: 80%;
    }

    .form-container input, .form-container select {
        font-size: 12px;
    }

    .select {
        font-size: 12px;
    }

    .profession-option-list {
        width: 260px;
    }

    .profession-select {
        height: 36px;
    }

    .brand-container img {
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px){
    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    html, body {
        min-height: 100vh;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    
    .form-wrapper {
        display: flex;
        flex-direction: column-reverse;
        min-height: 100vh;
        height: 100vh; /* Ensures it fills the full viewport */
        width: 100%;
        flex-grow: 1;
    }

    .form-container {
        flex: 1; /* Makes it fill available space */
        width: 100%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-container label {
        font-size: 13px;
    }

    .form-container button {
        font-size: 15px;
    }

    .user-info-text {
        width: 65% !important;
        margin-bottom: 40px;
    }

    .register-form {
        width: 75%;
    } 

    .form-container input, .form-container select {
        font-size: 12px;
        width: 100%;
        margin-bottom: 20px;
    }

    .select {
        font-size: 12px;
    }

    .profession-option-list {
        top: 665px !important;
        width: 330px;
        height: 170px;
    }

    .profession-select {
        height: 36px;
        margin-bottom: 20px;
    }

    .brand-container img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }

    .brand-container {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1; /* Ensures it fills remaining space */
    }

    .Disclaimer{
        display: flex;
        text-align: center; 
        padding: 10px 20px 10px 20px;
        align-items: center;
    }

    .Disclaimer-text{
        font-size: 12px; 
    }

    .Disclaimer-Button {
        margin: 0;
        padding: 8px 15px 8px; 
        border-radius: 4px; 
        font-size: 12px; 
    }
}

@media screen and (min-width: 360px) and (max-width: 499px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        min-height: 100vh;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .form-wrapper {
        display: flex;
        flex-direction: column-reverse;
        min-height: 100vh;
        height: auto; /* Ensures it fills the full viewport */
        width: 100vh;
        flex-grow: 1;
    }
    
    .form-container * {
        margin: 0;
        padding: 0;
    }

    .form-container {
        flex: 1; /* Makes it fill available space */
        height: auto; /* Prevents forced height */
        width: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-container label {
        font-size: 13px;
    }

    .form-container button {
        font-size: 15px;
        margin-top: 15px;
    }

    .user-info-text {
        width: 75% !important;
        margin-bottom: 30px;
    }

    .register-form {
        max-width: 80%;
        width: 80%; /* Ensures it fits smaller screens */
    }
     
    .form-container input, .form-container select {
        font-size: 12px;
        width: 100%;
        margin-bottom: 20px;
    }

    .select {
        font-size: 12px;
    }

    .profession-option-list {
        top: 630px !important;
        width: 300px;
        height: 170px;
    }

    .option {
        padding: 10px;
    }

    .profession-select {
        height: 36px;
        margin-bottom: 20px;
        padding: 8px;
    }

    .brand-container img {
        width: 70%;
        max-width: 100%;
        height: auto;
    }

    .brand-container {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1; /* Ensures it fills remaining space */
        flex-grow: 0;
    }

    .Disclaimer{
        display: flex;
        text-align: center; 
        padding: 10px 20px 10px 20px;
        align-items: center;
        flex-wrap: nowrap !important;
        flex-direction: row;
    }

    .Disclaimer-text{
        font-size: 12px; 
    }

    .Disclaimer-Button {
        margin: 0;
        padding: 8px 15px 8px; 
        border-radius: 4px; 
        font-size: 12px; 
    }
}