body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Black color with 70% opacity */;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 38px;
    height: 42px;
    margin-right: 10px;
}

.text-container h1 {
    background-color: #0052D4;
    color: white;
    padding: 3px 8px;
    gap: 10px;
    border-radius: 2px;
    margin: 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 74px;
    height: 20px;
}

.text-container h2 {
    margin: 0;
    font-size: 14px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 364px;
    height: 22px;
    line-height: 22px;
}

header nav {
    display: flex;
    align-items: center;
    height: 32px;
    line-height: 22px;
    gap: 10px;
}

header nav a.nav-link {
    color: rgba(0, 0, 0, 0.85); /* Black color with 85% opacity */;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header nav a.nav-link.active {
    color: #0056b3; /* Blue color for active link */
    font-weight: bold;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header nav a.nav-link:hover {
    color: #0052D4;
}

header nav a.nav-link:active {
    color: #0052D4;
}

header nav b.nav-link {
    color: rgba(0, 0, 0, 0.65); /* Black color with 85% opacity */;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

header nav b.nav-link.active {
    color: #0056b3; /* Blue color for active link */
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header nav b.nav-link:hover {
    color: #0052D4;
}

header nav a.nav-button {
    background-color: #0052D4;
    color: white;
    padding: 5px 16px;
    gap: 8px;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

header nav a.nav-button:hover {
    background-color: #003d99;
}

header .separator {
    color: rgba(0, 0, 0, 0.7); /* Separator color with 70% opacity */
}

main {
    padding: 0px 0px 0px 0px;
}

.Home {
    background-image: url('Banner.svg');
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    height: 320px;
}

.Home .container1 {
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.Home .container2 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.Home .container3 {
    display: none;
    /* gap: 20px; */
    /* justify-content: space-between; */
    align-items: flex-start;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    text-align: left;
    width: 1273px;
    height: auto;
    flex: 1;
    align-items: center;
} 

.Title h1 {
    color: white;
    margin: 0;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 47px;
    text-align: center;
}

.Title p {
    color: rgba(255, 255, 255, 0.8); /* White color with 70% opacity */
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.09em;
    text-align: center;
}

.map-card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 30px;
    text-align: left;
    align-self: start;
    width: 420px;
    flex: 1;
}

.img1 {
    width: 340px;
    height: 343px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 35%;
    width: 833px;   
}

.form-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 20px); /* Adjusts cards to fit without extra space */
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-width: 250px; /* Ensures cards don't shrink too much */
    height: max-content;
    text-decoration: none;
    overflow: hidden;
}

.form-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Black color with 10% opacity */;
}

.form-header h2 {
    color: #0052D4;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    margin: 0;
}

.card-icon {
    width: 56px;
    height: 56px;
}

.form-content {
    padding: 24px;
}

.form-control{
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.form-control:focus {
    border: 2px solid #2874F4; /* Thinner border on focus with a slightly different color*/
    outline: none; /* Optional: Removes the default focus outline */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* subtle shadow effect */
} 

.button-group {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 12px;
    margin-top: 15px;
}

.button-group button {
    padding: 10px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button:nth-child(1) {
    background-color: #fff;
    border: 1px solid #0052D4;
    color: #0052D4;
    transition: background-color 0.3s;
    transition: color 0.3s;
}

.button-group button:nth-child(1):hover {
    background-color: #0052D4;
    color: #fff;
    transition: background-color 0.3s;
}

.button-group button:nth-child(1):active {
    background-color: #52C41A;
    color: #fff;
    border: 1px solid #52C41A;
    transition: background-color 0.3s;
}

.background {
    background-color: #E9EBEE;
    height: 1400px;
}

.Section1 {
    padding: 60px 0px 60px 0px;
    margin: auto;
    max-width: 1290px;
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-direction: row;
}

.Section1 .text {
    gap: 10px;
}

.text h4 {
    color: #AAB5C3;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
}

.text h5 {
    color: rgba(0, 0, 0, 0.85); /* Black color with 85% opacity */;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 47px;
}

.text p {
    color: rgba(0, 0, 0, 0.65); /* Black color with 85% opacity */;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.text p {
    color: rgba(0, 0, 0, 0.85); /* Black color with 85% opacity */;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

footer {
    background-color: #0052D4;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
    height: 80px;
}

footer nav {
    margin-top: 5px;
    margin-bottom: 10px;
}

footer nav a {
    color: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
    margin: 10px 10px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

footer nav a:hover {
    color: rgba(255, 255, 255, 1); /* White color with 100% opacity on hover */
}

footer p {
    color: white;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
    margin-bottom: 10px;
}



.map {
    height: 550px; /* Adjust height as needed */
    width: 100%; /* Ensure it takes full width of its container */
    border-radius: 4px;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* subtle drop shadow */
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* blue button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #0056b3; /* darker blue on hover */
}

.site-info h3 {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.85); /* Black color with 85% opacity */;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures a stable width */
    /* height: auto; */
}

.table td {
    padding: 10px;
    border: 1px solid #ccc;
}

td.SA-title {
    width: 30%; /* Adjust this percentage for a narrower width */
    text-align: center; /* Optional: left-align the title */
}

td.SA-value {
    width: 70%; /* The remaining space is for the SA values */
    text-align: center; /* Optional: right-align the values */
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
}

.SA-title{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 22px;
    width: 100px; /* Set a fixed width */
    /* text-align: center; Optional: align the content */
}

.SA-value{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    width: 100px; /* Set a fixed width */
    /* text-align: center; Optional: align the content */
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between the table and graph */
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* Add some spacing between elements */
}

.site-info, .site-info *{
    margin: 0;
    padding: 0;
}

.site-info-1, .site-info-1 *, 
.site-info-2, .site-info-2 * {
    margin: 0;
    padding: 0;
}

.site-info-1 {
    /* flex: 1; Adjust the width of the table section */
    max-width: 30%; /* Optional: Limit max width */
    height: auto;
}

.site-info-2 {
    flex: 1; /* Adjust the width of the table section */
    max-width: 70%; /* Optional: Limit max width */
    height: auto;
}

.latitude-longitude-info {
    margin-top: 20px; /* Adjust spacing as needed */
}

.graph-container img {
    max-width: 707.81px; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
    /* display: flex; */
}

.graph-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex: 1; /* Adjust the width of the graph section */
    max-width: 50%; /* Optional: Limit max width */
    text-align: center; /* Center-align the graph image */
    height: 100%;
}

.site-info-1 h3 {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.85); /* Black color with 85% opacity */;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 10px;
}

.table {
    width: 100%; /* Ensure the table takes full width of its container */
    border-collapse: collapse; /* Merge table borders */
}

.table td {
    padding: 8px;
    border: 1px solid #ddd; /* Optional: Add a border for better visibility */
}

/* Popup Loading Animation */

.loading-animation {
    width: 125px;
    height: 125px;
}

#loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* High value to ensure it's above all other elements */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

button {
    margin-top: 10px;
}


/* DMS to Decimal Degrees Radio Button */


.toggle-buttons {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%; /* Make the toggle buttons span full width */
}

.toggle-buttons input[type="radio"] {
    display: none; /* Hide the default radio buttons */
}

.toggle-buttons label {
    flex: 1; /* Each label takes up equal space */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    background-color: white;
    border-right: 1px solid #ccc;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-buttons label:last-child {
    border-right: none; /* Remove the border from the last button */
}

.toggle-buttons input[type="radio"]:checked + label {
    background-color: #016cdf; /* Active background color */
    color: white; /* Active text color */
}


/* Site Classification Dropdown */

.select {
    margin-bottom: 8px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.arrow-down {
    color: rgba(0, 0, 0, 0.7); /* Separator color with 70% opacity */
    width: 20px;
    height: 20px;
    float: right;
}

.site-select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.site-option-list {
    background-color: white;
    border-radius: 4px;
    margin-top: 8px;
    visibility: hidden;
    position: absolute;
    width: 398px;
    border: 1px solid #ccc; /* Border for the options */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
    z-index: 1000; /* Ensure the options are above other content */
    margin-top: 4px; /* Slight margin to separate from the select box */
}

.site-option-list.show {
    visibility: visible;
}

.option {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
}

.option:hover {
    /* background-color: rgba(0, 82, 212, .85); Tang Blue with 85% opacity; */
    background-color: #e3f8ff;
    transition: background-color 0.3s;
}

.site-select:focus {
    border: 2px solid #2874F4; /* Thinner border on focus with a slightly different color */
    outline: none; /* Optional: Removes the default focus outline */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* subtle shadow effect */
}


/* Style the DMS container */
.dms-container {
    display: flex; /* Align items horizontally */
    justify-content: center;
    align-items: center; /* Vertically center the items */
}

/* Style for degrees, minutes, and seconds */
#lat-degrees, #lon-degrees,
#lat-minutes, #lon-minutes,
#lat-seconds, #lon-seconds {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    /* width: auto; Set a fixed width */
    margin-right: 2px; /* Add small spacing to the right of each element */
}

/* Optional: Style the symbols for better spacing */
.dms-symbol {
    margin-right: 10px; /* Add space after °, ' and '' symbols */
}