{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHADE Project PH</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylesheet-SA-PGA.css' %}">

    <!-- Include Leaflet CSS for the map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="{% static 'images/SHADE LOGO.png' %}" alt="PHIVOLCS Logo" class="logo">
                <div class="text-container">
                    <h2>Philippine Institute of Volcanology and Seismology</h2>
                    <h1>SHADE PH</h1>
                </div>
            </div>
            <nav>
                <a href="{% url 'shade_redesign' %}" class="nav-link">Home</a>
                <a href="#About-section" class="nav-link">About</a>
                <span class="separator">|</span>
                <b href="#" class="nav-link">Register</b>
                <a href="#" class="nav-button">Log In</a>
            </nav>
        </div>
    </header>
    
    <main>
        <section class="Home" id="Home">
            <div class="container1">
                <div class="Title">
                    <h1>SHADE Project PH</h1>
                    <p>Seismic Hazard Assessment for Design Earthquake of the Philippines</p>
                </div>
                
                <div class="container2">
                    <div class="map-card">
                        <div id="map" class="map"></div> <!-- Map placed inside card -->
                    </div>

                    <div class="form">
                        <div class="form-card">
                            <div class="form-header">
                                <img src="{% static 'images/ORC Header.svg' %}" class="card-icon">
                                <h2>Ground Motion Intensity Measures</h2>
                            </div>                                   
                            
                            <div class="form-content">
                                <form id="coordinates-form" method="POST">
                                    {% csrf_token %}
                                    <!-- Current coordinates fields -->
                                    <div class="mb-3">
                                        <label for="longitude" class="form-label">Longitude</label>
                                        <input type="text" id="current-lon" class="form-control" placeholder="0.0">
                                    </div>
                                    <div class="mb-3">
                                        <label for="latitude" class="form-label">Latitude</label>
                                        <input type="text" id="current-lat" class="form-control" placeholder="0.0">
                                    </div>
                                </form>

                                <div class="site-info">
                                    <h3>Site Information:</h3>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="SA-title">Longitude</td>
                                                <td id="long" class="SA-value">0.0</td>
                                            </tr>
                                            <tr>
                                                <td class="SA-title">Latitude</td>
                                                <td id="lat" class="SA-value">0.0</td>
                                            </tr>
                                            <tr>
                                                <td class="SA-title">SA₁</td>
                                                <td id="sa1-value" class="SA-value">0.0</td>
                                            </tr>
                                            <tr>
                                                <td class="SA-title">SA₀₂</td>
                                                <td id="sa02-value" class="SA-value">0.0</td>
                                            </tr>
                                            <tr>
                                                <td class="SA-title">Tₗ</td>
                                                <td id="tl-value" class="SA-value">0.0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        
                            <div class="button-group">
                                <button type="button" id="update-coords">Check Data</button>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        
            <div id="popup" class="popup" style="display: none;">
            </div>

        </section>

        <section class="background">
        </section>

        <section class="Info_Section1">
                <div class="Section1" id="About-section">
                    <img src="{% static 'images/NO IMAGE DARK.svg' %}" alt="Img 1" class="img2">
                    <div class="text">
                        <!-- <h4>Section title</h4> -->
                        <h5>Title</h5>
                        <p>Nunc, mattis arcu eu ut quisque quam. Nunc rhoncus, arcu venenatis consectetur facilisis. Nibh nibh porttitor lectus sit porta vestibulum. Gravida ultricies ultrices velit adipiscing nec ultricies curabitur adipiscing non. Porttitor feugiat at duis aliquam, viverra et amet. Duis pellentesque integer sem sit. Nisl praesent aliquam tellus metus sem id. Feugiat maecenas sollicitudin sed fusce turpis vel hendrerit. Commodo massa ac justo faucibus faucibus ipsum amet. Arcu tincidunt mattis lectus pellentesque in.</p>
                        <p>Nunc, mattis arcu eu ut quisque quam. Nunc rhoncus, arcu venenatis consectetur facilisis. Nibh nibh porttitor lectus sit porta vestibulum. Gravida ultricies ultrices velit adipiscing nec ultricies curabitur adipiscing non. Porttitor feugiat at duis aliquam, viverra et amet. Duis pellentesque integer sem sit. Nisl praesent aliquam tellus metus sem id. Feugiat maecenas sollicitudin sed fusce turpis vel hendrerit. Commodo massa ac justo faucibus faucibus ipsum amet. Arcu tincidunt mattis lectus pellentesque in.</p>
                    </div>
            </div>
        </section>

    </main>

    <footer>
        <nav>
            <a href="#">Our Vision</a>
            <a href="#">Features</a>
            <a href="#">Our Team</a>
            <a href="#">Latest News</a>
            <a href="#">Contact</a>
        </nav>
        <p>Copyright © SHADE PH 2024</p>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            console.log("DOMContentLoaded event fired");

            var map = L.map('map').setView([13.41, 122.56], 6);
            map.options.minZoom = 4;

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var marker;

            function addOrUpdateMarker(lat, lon) {
                if (marker) {
                    marker.setLatLng([lat, lon]).update();
                } else {
                    marker = L.marker([lat, lon]).addTo(map);
                }
            }

            function updateClosestPointInfo(data) {
                var latInput = document.getElementById('current-lat');
                var lonInput = document.getElementById('current-lon');
                var latCell = document.getElementById('lat');
                var lonCell = document.getElementById('long');
                var sa1Input = document.getElementById('sa1-value');
                var sa02Input = document.getElementById('sa02-value');
                var tlInput = document.getElementById('tl-value');
                

                if (data.current_coord) {
                    latInput.value = data.current_coord[0];
                    lonInput.value = data.current_coord[1];
                    sa1Input.textContent  = data.sa1;
                    sa02Input.textContent  = data.sa02;
                    tlInput.textContent = data.tl;
                }
                latCell.textContent = latInput.value;
                lonCell.textContent = lonInput.value;
            }

            function submitCoordinates(lat, lon) {
                var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url "sa_pga_map" %}', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        updateClosestPointInfo(data);
                    }
                };

                xhr.send(`lat=${lat}&lon=${lon}`);
            }

            function checkAndSubmitCoordinates(lat, lon) {
                if (lat < 4 || lat > 21 || lon < 116 || lon > 127) {
                    // Show the popup over the entire map
                    document.getElementById('popup').style.display = 'flex';
                    document.getElementById('popup').innerHTML = `
                        <div class="card">
                            <p>This point is outside of the Philippines, there is no available data for the selected coordinates.</p>
                            <button id="closePopup">Close</button>
                        </div>`;
                } else {
                    submitCoordinates(lat, lon);
                }
            }


            // Close popup when the close button is clicked
            document.addEventListener('click', function(event) {
                if (event.target && event.target.id === 'closePopup') {
                    document.getElementById('popup').style.display = 'none';
                }
            });

            map.on('click', function(e) {
                var coord = e.latlng;
                var lat = parseFloat(coord.lat.toFixed(5));
                var lng = parseFloat(coord.lng.toFixed(5));
                addOrUpdateMarker(lat, lng);
                checkAndSubmitCoordinates(lat, lng);
            });

            // Ensure the event listener is added only once
            document.getElementById('update-coords').addEventListener('click', function(event) {
                event.preventDefault();
                var lat = parseFloat(document.getElementById('current-lat').value);
                var lon = parseFloat(document.getElementById('current-lon').value);
                
                // Check if lat/lon are valid before proceeding
                if (!isNaN(lat) && !isNaN(lon)) {
                    // Add or update marker on the map based on the input coordinates
                    addOrUpdateMarker(lat, lon);
                    
                    // Submit the coordinates for data checking
                    checkAndSubmitCoordinates(lat, lon);
                } else {
                    alert("Please enter valid latitude and longitude values.");
                }
            });
        });

    </script>
    
</body>
</html>
